body {
    background: linear-gradient(to top, #191970, #836FFF);
    background-attachment: fixed;
    margin: 0px;
    font-family: Rubik;

}

.pai-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.Titulo {
    color: aliceblue;
    position: absolute;
    font-family: Rubik;
    margin-top: 5%;
    font-size: 25px;
    animation: FadeIn 2s;
}


.fa-user {
    position: absolute;
    top: 94px;
}

.all-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    z-index: 2;
}

.container-social {
    position: relative;
    width: 400px;
    height: 40px;
    margin-top: 120%;
}

.icons {
    width: 25%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    color: #836FFF;
    font-size: 20px;
    right: 20px;
    top: 10px;
}

.icons a {
    color: #836FFF;
}

.box-container {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.Login-title {
    font-size: 18px;
    color: aliceblue;
    position: absolute;
    font-family: Rubik;
}

.Login {
    position: relative;
    top: 10px;
    z-index: 2;
}

.login-button,
.login-password {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    border-radius: 6px;
    border-style: none;
    height: 40px;
    width: 300px;
    text-align: center;
    font-family: Rubik;
    background-color: rgba(131, 111, 255, 0.7);
}

.Password {
    position: relative;
    top: 10px;
    z-index: 2;
}

.login-password {
    transform: translate(-50%, -20%);
}

.login-password::placeholder,
.login-button::placeholder {
    color: aliceblue;
}

.Forget {
    position: absolute;
    bottom: 20px;
}

.Forget a {
    color: aliceblue;
}

.Forget a:hover {
    color: #191970;
    transition: 0.4s ease;
}


.Submit {
    position: absolute;
    bottom: 75px;
    z-index: 2;
}

.button-submit {
    width: 170px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: #836FFF;
    color: aliceblue;
    cursor: pointer;
    animation: voltarCor;
    font-family: Rubik;
    font-size: 15px;
}

.button-submit:hover {
    animation: mudarCor 0.5s forwards;
}

.button-submit::placeholder {
    text-align: center;
    color: aliceblue;
}

/* Animações */

@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    20% {
        opacity: 0.1;
    }
}

@keyframes voltarCor {
    from {
        background-color: rgba(0, 0, 0, 0.2);
    }

    to {
        background-color: #836FFF
    }
}

@keyframes mudarCor {
    from {
        background-color: #836FFF;
    }

    to {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

/*{background: linear-gradient(to top, #191970, aliceblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}*/